<div class="row">
  <div class="col-12">

    <h2 class="text-center my-4">Lista de Profesores</h2>

    <div class="my-4 text-left print-hide">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/profesores/form']">Crear Profesor</button>
    </div>

<div class="responsive">
<table class="table table-striped table-inverse">
  <thead class="thead-inverse">
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Grado</th>
      <th>Edad</th>
      <th>Sexo</th>
      <th>Titulo</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let profesor of profesores">
        <td>{{profesor.nombre}}</td>
        <td>{{profesor.apellidos}}</td>
        <td>{{profesor.grado.nombre}}</td>
        <td>{{profesor.edad}}</td>
        <td>{{profesor.sexo}}</td>
        <td>{{profesor.titulo}}</td>
        <td class="print-hide">
          <button type="button" [routerLink]="['/profesores/form', profesor.id]" class="btn btn-primary btn-sm">Editar</button>
        </td>
        <td class="print-hide">
          <button type="button" (click)="delete(profesor)" class="btn btn-danger btn-sm">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

  </div>
</div>
